<div class="task-form-container">
  <h2>{{ isEditMode ? 'Edit Task' : 'Create Task' }}</h2>

  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Task Name</mat-label>
      <input matInput formControlName="taskName" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Due Date</mat-label>
      <input matInput type="date" formControlName="dueDate" />
    </mat-form-field>

    <mat-checkbox formControlName="isCompleted">Is Completed</mat-checkbox>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Project ID</mat-label>
      <input matInput type="number" formControlName="projectId" />
    </mat-form-field>

    <button mat-raised-button style="background-color: #b3a3a2; color: #111111" type="submit">
      {{ isEditMode ? 'Update Task' : 'Create Task' }}
    </button>

  </form>
</div>
