.task-form-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;

  h2 {
    margin-bottom: 20px;
  }

  .full-width {
    width: 100%;
    margin-bottom: 20px;
  }

  mat-checkbox {
    margin-bottom: 20px;
    display: block;
  }

  button {
    width: 100%;
  }
}
